.main-nav {
  background-color: transparent;
  transform: translate 0.2 ease-in-out;

  &,
  &-collapse {
    align-items: center;
  }
  & &-link.nav-link {
    position: relative;
    color: $white;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    @include media-breakpoint-up(md) {
      margin-left: 2em;
      &.active::after {
        content: "";
        position: absolute;
        left: 5%;
        bottom: 5%;
        width: 90%;
        height: $border-width;
        background-color: $success;
      }
    }
    &.active,
    &:hover {
      color: $success;
    }
  }
  &.primary {
    background-color: $primary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    animation: falling 0.3s;
  }
}
.navbar-nav {
  align-items: center;
}

@keyframes falling {
  from {
    opacity: 0;
    transform: translateY(-80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
