.main-nav {
  &,
  &-collapse {
    align-items: center;
  }
  & &-link.nav-link {
    position: relative;
    color: $white;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    @include media-breakpoint-up(md) {
      margin-left: 2em;
      &.active::after {
        content: "";
        position: absolute;
        left: 5%;
        bottom: 5%;
        width: 90%;
        height: $border-width;
        background-color: $success;
      }
    }
    &.active,
    &:hover {
      color: $success;
    }
  }
}
.navbar-nav {
  align-items: center;
}
