$gradient: linear-gradient(
  0deg,
  rgba(252, 227, 138, 0.9) 0%,
  rgba(243, 129, 129, 0.9) 100%
);

//fonts
$decorative-font: "Kaushan Script", cursive;
$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;

$border-width: 3px;
