.client {
  background-image: url(../img/clients-bg.png), $white-overlay;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  &-col {
    margin-bottom: 5vmin;
  }

  &-text {
    text-align: left;
    padding-left: 25px;
  }
  &-role {
    position: relative;
    margin-bottom: 2rem;
  }
}
