.about-us-p {
  padding-bottom: 90px;
}

.about-us-overlay {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: $gradient;
  box-shadow: 10px 10px $secondary;
  display: none;
  transition: 0.2s;
}
.about-us-card {
  transition: 0.3s;
}
.about-us-card:hover {
  transform: translate(-10px, -10px);
}

.about-us-card:hover .about-us-overlay {
  display: flex;
}

.overlay-text {
  font-family: $main-font;
  font-size: 1.125rem;
  font-weight: bold;
  padding-top: 11px;
}
