.facts {
  background-color: $secondary;

  & p{
    color:$white;
    text-align:center;
  }

  &-description{
      font-family:Montserrat;
      text-transform:uppercase;
      font-size:.8rem;
  }

  &-number{
      font-weight:bold;
  }

  &-col{
      padding-top:90px;
       padding-bottom:90px;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      &:not(:last-child){
      border-right: solid 2px rgba($white, .3);
      }
  }
}
