h1,
h2,
h3,
h4,
a {
  font-family: $main-font;
  color: $dark;
}

.decorative {
  font-family: $decorative-font;
}

p {
  font-family: $secondary-font;
  color: $gray-200;
  font-size:.94rem;
}

h3{
  font-size:.875rem;
}

h1::after,
.section-header::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 30px);
  width: 60px;
  height: $border-width;
  background-color: $white;
}
h1::after {
  bottom: -0.25em;
}
.section-header::after {
  background-color: $primary;
  bottom: -1em;
}

.section-header {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 90px;
  position: relative;
}

section .decorative {
  font-size: 1.5rem;
  color:$dark;
}

